.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0077ff    !important;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #000000    !important;
}
.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #000000    !important;
}